GATEWAY_HOST_PORT=9090
GATEWAY_HOSTNAME=api.arrrspace.local
STATIC_SITE_HOSTPORT=9095
STATIC_SITE_HOSTNAME=www.arrrspace.local
MINIO_ACCESS_KEY=foo
MINIO_SECRET_KEY=notbar
MONGO_ROOT_USERNAME=replaceme
MONGO_ROOT_PASSWORD=replaceme
LEGACY_AUTH_SECRET=replaceme