:root {
	--bg-dark: #261447;
	--bg-med: #261447;
	--text-main: #ff3864;
	--text-secondary: #2de2e6;
	--highlight: #ff6c11;
}

@font-face {
	font-family: 'outrun-future';
	src: url('fonts/outrun_future/OutrunFuture.otf') format('opentype');
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-main);
	background-color: var(--bg-med);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	text-shadow: 2px 2px var(--text-secondary);
}

h1 {
	font-size: 2em;
	font-family: 'outrun-future';
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}